/* TITLE SECTION */
#title{
    padding: 2% 5%;
}
.nav-link{
    font-size: 1.15rem;
}
.title-title{
    font-size: 3rem;
    font-weight: 700;
}
.title-para{
    font-size: 1.15rem;
}
.title-img{
    width: 95%;
}
.email-field{
    border-radius: 2px;
}
/* RESPONSIVE DESIGN */
@media (max-width:990px) {
    .title-text{
        text-align: center;
    }
}